*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DBDADF;
    display: grid;
    grid-template-rows: 100px 420px 1210px 150px;
    gap: 10px;
}
body >*{
    display: grid;
    justify-items: center;
    align-items: center;
}
header{
    background-color: #6E3CBC;
    font-size: 40px;
}
section{
    background-color: #7267CB;
}
main{
    background-color: #98BAE7;
}
footer{
    background-color: #B8E4F0;
}
