*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DBDADF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 420px 1210px 100px;
    gap: 10px;
}
header{
    font-size: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#top-header{
    background-color: #FFF8F8;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    transition: all 1s;
}
#logo:hover{
    opacity: 0.5;
}
#search-box{
    background-color: #DBDADF;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    background-image: url(images/icons8-search-30.png);
    background-repeat: no-repeat;
    background-position-x: 260px;
}
#search{
    width: 300px;
    height: 30px;
    margin: 0 0 0 5px;
    outline: none;
    border: none;
    background-color: transparent;
}
#login-basket{
    width: 240px;
    font-size: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
.login-basket-flex{
    color: black;
    text-decoration: none;
    height: 30px;
    display: flex;
    align-items: center;
    transition: all 1s;
}
.login-basket-flex:hover{
opacity: 0.5;
}
nav ul {
    list-style: none;
    font-size: 15px;
    display: flex;
    margin-left: 10px;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    transition: all 1s;
}
nav ul li a:hover{
    opacity: 0.5;
}
section{
    background-image: url(images/slider.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    background-color: #98BAE7; 
}
footer{
    background-color: #B8E4F0;
}
